.todo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}
.todo ul {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  height: 40px;
  font-family: cursive;
  width: 500px;
}
.todo ul:hover {
  background-color: white;
  color: skyblue;
}
.button_right {
  height: 40px;
  width: 40px;
  font-size: 25px;
}
.button_wrong {
  height: 40px;
  width: 40px;
  font-size: 25px;
}
.button_right:hover {
  background-color: #00ff00;
}

.button_wrong:hover {
  background-color: red;
}
